repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: '.cfg$'
    -   id: check-yaml
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.18
  hooks:
    - id: uv-lock
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    - id: ruff
      args: ["--fix", "--verbose"]
    - id: ruff-format
