RunAsDaemon                 1
NewCircuitPeriod            {{ new_circuit_period }}
MaxCircuitDirtiness         {{ max_circuit_dirtiness }}
CircuitBuildTimeout         {{ circuit_build_timeout }}
LearnCircuitBuildTimeout    1

# Log levels:
#
# - debug
# - info
# - notice
# - warn
# - err
#
Log warn syslog
# Log notice file /dev/null

{% if exit_nodes %}
ExitNodes {{ exit_nodes }}
{% endif %}
UseBridges {{ use_bridges }}
ClientTransportPlugin obfs4 exec /usr/bin/lyrebird managed
{{ bridges }}
{% if extra_torrc_lines %}
{{ extra_torrc_lines | join('\n') }}
{% endif %}
