name: Build and Push Docker Image

on:
  push:
    branches:
      - master

env:
  IMAGE_NAME: medusa-proxy
  IMAGE_VERSION: 0.2.2
  ACCOUNT_NAME: datawookie
  DOCKER_REGISTRY: docker.io

jobs:
  build:
    runs-on: ubuntu-latest
    environment: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.ACCOUNT_NAME }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.ACCOUNT_NAME }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.ACCOUNT_NAME }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_VERSION }}
          cache-from: type=registry,ref=${{ env.ACCOUNT_NAME }}/${{ env.IMAGE_NAME }}:latest
          cache-to: type=inline
